
.imageCollageParalax
{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageCollageParalax img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#info
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#info h1
{

}
#info h5
{
  text-align: center;
  width: 50%;
}
a
{
    text-decoration: none !important;
}
