/* Universal */
html
{
  scroll-behavior: smooth;
}
body
{
  margin: 0% !important;
  padding: 0% !important;
  font-family: 'Poppins', sans-serif !important;
  background-color: #e8e8e8 !important;
  overflow-x: hidden;
  min-width:500px;
}
.footer
{
  text-align: center;
}
.footer #copyright
{
  margin: 4% !important;
  font-size: 1rem;
  opacity: 50%;
}
#navbar
{
  z-index: 10;
  width: 100%;
  left: 0px !important;
  position: absolute !important;
}
#navbar .nav-link
{
  font-size: 1.5rem;
  color: white;
}

#navbar .nav-link:hover
{
  color: rgb(97, 158, 255);
}
.nav-link-active
{
  color: rgb(97, 158, 255);
}
#landingPage
{
  background-image: linear-gradient(90deg, #FF5F6D,#FFC371);
  height: 100%;
  z-index: -1 !important;
}
.card
{
  z-index: 0;
}

.titleHolder
{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.page-title
{
  font-size: 5.5rem;
  color: white;
}
.page-title-desc
{
  font-size: 1.5rem;
  color: #ededed;
}
/* Buttons from the landing page below */
.btnHolderLandingPage
{
  margin-top: 10%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.btn
{
    margin: 10px;
    width: 12rem;

}
.btn-light:hover
{
    color: white !important;
    background-color: rgba(97, 158, 255,1) !important;
    border-color:rgba(97, 158, 255,1) !important;
}


.toggleBtn
{
  z-index: 2;
  margin: 50px;
  position: absolute;
  display: block;
  z-index: 11;
}
.nav
{
  z-index: 10;
  width: 100%;
  height: 100vh;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  transition: transform 0.5s ease-out;
}
