<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Site4u - {%block title%} {%endblock%}</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='images/sites4u.ico')}}" type="image/x-icon">  
    <meta name="viewport" content= "width=device-width, user-scalable=no">
    <!-- Link to local css files -->
    <link rel="stylesheet" href="{{url_for("static", filename = "css/master.css")}}">
    <link rel="stylesheet" href="{{url_for("static", filename = "css/media.css")}}">
    {%block css%}

    {%endblock%}
    <!-- Link to the bootstrap css file -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- Font import from google -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- JQUERY reference -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <div class="toggleBtn">
      <div class="toggleBtnDiv  tglOne"></div>
      <div class="toggleBtnDiv  tglTwo"></div>
      <div class="toggleBtnDiv  tglThree"></div>

    </div>
    <div class="container">
      <div class="row">
        <section id="navbar">
          <ul class="nav">
            <li class="nav-item navHome">
              <a class="nav-link first-nav-link-home" href="/">Home</a>
            </li>
            <li class="nav-item navProjects">
              <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="nav-item navAbout">
              <a class="nav-link" href="/aboutus">About</a>
            </li>
            <li class="nav-item navContact">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </section>
      </div>
    </div>



    {%block content%}

    {%endblock%}



    <div class="footer">
      <h3 id="copyright"></h3>
    </div>

    <!-- Toggle Btn JS -->
    <script type="text/javascript">
    var year = new Date().getFullYear();
    document.getElementById("copyright").innerHTML = "©"+year+" Site4u. All rights reserved.";
      $(".toggleBtn").click(function(){
        $(".nav").toggleClass("active-nav")
        $(".tglOne").toggleClass("toggleBtnDivOne");
        $(".tglTwo").toggleClass("toggleBtnDivTwo");
        $(".tglThree").toggleClass("toggleBtnDivThree");
      })



    </script>
    <!-- JS Ref for bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
  </body>
</html>
