{%extends 'base.html'%}
{%block title%}Contact Us{%endblock%}
{%block css%}
<link rel="stylesheet" href="{{url_for("static", filename = "css/contact.css")}}">
{%endblock%}
{%block content%}

<section id="landingPage">
  <div class="contact-container">
    <div class="background">
      <div class="container">

        <div class="container-contact100">
          <div class="wrap-contact100">
            <form action="/contact-processor" method="post" class="contact100-form validate-form">
              <span class="contact100-form-title">
                <b>Contact Us!</b>
              </span>
              <div class="wrap-input100 validate-input" data-validate="Please enter your name">
                <input class="input100" type="text" name="name" placeholder="Full Name">
                <span class="focus-input100"></span>
              </div>
              <div class="wrap-input100 validate-input" data-validate="Please enter your email: e@a.x">
                <input class="input100" type="text" name="email" placeholder="E-mail">
                <span class="focus-input100"></span>
              </div>
              <div class="wrap-input100 validate-input" data-validate="Please enter your phone">
                <input class="input100" type="text" name="phone" placeholder="Phone">
                <span class="focus-input100"></span>
              </div>
              <div class="wrap-input100 validate-input" data-validate="Please enter your message">
                <textarea class="input100" name="message" placeholder="Your Message"></textarea>
                <span class="focus-input100"></span>
              </div>
              <div class="container-contact100-form-btn">
                <button name="SUBMIT" class="contact100-form-btn">
                  <span>
                  <i class="fa fa-paper-plane-o m-r-6" aria-hidden="true">
                  </i>
                  Send
                  </span>
                </button>
                </div>
              </form>
            </div>
          </div>
          <div id="dropDownSelect1"></div>
    </div>
  </div>
</section>

<!-- JS reference -->
<script src="{{url_for("static", filename="js/contact.js")}}"></script>
{%endblock%}
