{%extends 'base.html'%}
{%block title%}Projects{%endblock%}

{%block css%}
<link rel="stylesheet" href="{{url_for("static", filename = "css/projects.css")}}">
{%endblock%}

{%block content%}


<section id="landingPage">
  <div class="landingCenter-project">
    <h1 class="page-title">Projects</h1>
    <h2 class="page-title-desc">Listed below are Projects that we worked on.</h2>
  </div>
  <a href="#projects">
    <div class="contianer-GoDownArrow-project">
      <div class="GoDownArrow-project">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </div>
    </div>
  </a>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#E8E8E8" fill-opacity="1" d="M0,96L80,96C160,96,320,96,480,122.7C640,149,800,203,960,208C1120,213,1280,171,1360,149.3L1440,128L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>

</section>

<section class="projects_projects" id="projects">
  {% for i in range(3) %}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        {% if i == 0%}
          <img src="{{url_for("static", filename="images/websiteimages/gunvir.png")}}" class="card-img-top" alt="Website Image">
          <div class="card-body">
            <p class="card-text"><a href="https://www.gunvir.ca" target="_blank">Gunvir.ca</a> is an amazing site for learning programming for free.</p>
          </div>
        {% endif %}
        {% if i == 1%}
          <img src="{{url_for("static", filename="images/websiteimages/dabangbistro.png")}}" class="card-img-top" alt="Website Image">
          <div class="card-body">
            <p class="card-text"><a href="https://www.gunvir.ca" target="_blank">DabangBistro.com</a> is a top resturant in the GTA area and serves amazing food for an amazing price.</p>
          </div>
        {% endif %}
        {% if i == 2%}
          <img src="{{url_for("static", filename="images/websiteimages/findyourstorycanada.png")}}" class="card-img-top" alt="Website Image">
          <div class="card-body">
            <p class="card-text"><a href="https://www.FindYourStoryCanada.com" target="_blank">FindYourStoryCanada.com</a> find Your Story reignite Canadian youth in reading and writing education for students.</p>
          </div>
        {% endif %}
      </div>
    </div>
  {%endfor%}
</section>



<!-- JS reference -->
<script src="{{url_for("static", filename="js/projects.js")}}"></script>
{%endblock%}
