{%extends 'base.html'%}
{%block title%}Projects{%endblock%}

{%block content%}


<section id="landingPage">
  <div class="landingCenter-project">
    <h1 class="page-title">Projects</h1>
    <h2 class="page-title-desc">Listed below are Project that we worked on.</h2>
  </div>

  <div class="contianer-GoDownArrow-project">
    <div class="GoDownArrow-project">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
    </div>
  </div>

</section>
<section class="projects">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</section>


<!-- JS reference -->
<script src="{{url_for("static", filename="js/projects.js")}}"></script>
{%endblock%}
